.wrapper{
    margin: 0px auto;
    width: 95%;
}
.header-top{
    padding: 2% 0%;
}
.logo{
    float: left;
}
.header-right{
    float: right;
    position: relative;
    margin-top: 33px;
}
.menu{
    float: right;
    margin-right: 40px;
}
.menu li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.menu li a{
    font-size: 0.8725em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 0px 4px;
    padding: 5px 16px;
    border-radius: 20px;
    font-weight: 300;
}

/*----- Slider -----*/
.slider{
    width: 100%;
	height:800px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.slide-to-left{
    position: absolute;
    width: 100%;
    padding-top: 4%;
	/* height: 800px; */
	top: 20px;
	left: 0px;
	text-align: left;
}
.slide-to-left .left img{
    width: 50%;
}
.slide-to-left .right h2 {
	font-family: 'Roboto', 'sans-serif';
	color: #ffffff;
	top: 84px;
	font-size: 2em;
	font-weight: 300;
	white-space: nowrap;
	z-index: 10;
}
.slide-to-left .right p {
	top: 127px;
	color: #FFFFFF;
	font-size: 1.2em;
	/* overflow: hidden; */
	font-weight: 300;
	line-height: 70px;
}
.slide-to-left label {
	display: block;
	color: #FFFFFF;
	font-size: 1.2em;
	overflow: hidden;
	line-height: 46px;
	font-weight: 300;
	margin-top: 4%;
}
.slide-to-left h3 {
	color: #FFFFFF;
	width: 85%;
	margin-top: 5%;
	font-size: 2em;
    font-weight: 300;
    font-family: 'Roboto';
}
.slide-to-left h3 span{
	color: #87B672;
}
/*----- */
/*----- quote starts here ----- */
.quote{
    text-align: center;
    padding: 2% 0%;
}
.quote img{
    width: 8%;
}
.quote p{
    font-family: 'Arvo', 'sans-serif';
    font-size: 1.6em;
    color: grey;
    text-align: center;
    margin: 16px auto;
}
.quote-info{
    width: 50%;
    margin: 0 auto;
    padding-top: 33px;
}
.quote-info-img{
    float: left;
    padding-left: 16%;
}
.quote-info-img img{
    border-radius: 60em;
    width: 100%;
    margin: 5% auto;
}
.quote-info-text{
    float: right;
    padding-right: 12%;
}
.quote-info-text h4{
    font-family: 'Arvo','sans-serif';
    color: grey;
    padding-top: 35px;
    font-size: 1.8em;
}
.quote-info-text p{
    font-family: 'Arvo','sans-serif';
    color: grey;
    font-size: 1.6em;
}
/*----- quote ends here ----- */

/* ----- about phone starts here ----- */
.about-phone{
    text-align: center;
    padding: 8% 0;
    width: 100%;
}
.about-phone-left h4{
    font-size: 1.8em;
    font-weight: bold;
    color: #323A45;
    margin-bottom: 3%;
    font-family: 'Arvo';
}
.about-phone-left p{
    line-height: 0.9em;
    font-size: 1em;
    color: #323A45;
    letter-spacing: 0.2em;
}
.about-phone-left p.a{
    border-bottom: 0.9px solid #999;
    padding-bottom: 4%;
    margin-bottom: 4%;
}
.about-phone-left ul li{
    font-size: 1em;
	color: #323A45;
	font-weight: 400;
	line-height: 0.9em;
    padding: 1% 0;
}
.about-phone-left ul li {
    list-style-type: none;
    text-decoration: none;
}
.about-phone-left ul li a{
    text-decoration: none;
    color: #323A45;
}
.about-phone-left ul li img{
    vertical-align: middle;
    width: 30%;
}
.about-phone-left h3{
    font-size: 1.5em;
	color: #323A45;
	font-weight: 400;
	padding: 6% 0;
}
.about-phone-left h3 label,.about-phone-left h3 span {
	font-weight: 600;
}
.about-phone-left p a {
    font-size: 1.1em;
    text-decoration: none;
	color: #fff;
	font-weight: 300;
	padding: 18px 40px;
	background: #2B985C;
	margin-top: 2%;
    border-radius: 3px;
}
.about-phone-left p a:hover {
	background: #FF4B5A;
}
.about-phone-right{
	float: none;
	width: 40%;
	margin: 0 auto;
	padding-top: 40px;
}
/*----------*/
/*----- our clients starts here -----*/
.clients{
background: #fff;
padding: 8% 0;
text-align: center;
}
.clients h4{
font-size: 1.8em;
color: #323A45;
font-weight: bold;
font-family: 'Arvo';
}
.clients p{
font-size: 0.9em;
color: #323A45;
font-weight: 200;
margin-bottom: 2%;
line-height: 1.9em;
}
/*----------*/

/*----- pricing table -----*/
.pricing-grid{
    border: 1px solid #C4C4C4;
    text-align: center;
    width: 50%;
    margin-bottom: 3%;
    padding: 4%;
    margin: 0 auto;
}
.price-type{
    padding: 3% 0;
}
/*-----------*/

/*----- "so what you think" ----- */
.confirmation{
    background: #323A45;
    padding:8% 0;
	text-align:center;
}
.confirmation h3{
    color:#fff;
	font-size: 1.6em;
	font-weight: 600;
}
.confirmation p{
    font-family: 'Arvo', 'serif';
	font-size: 1.2em;
	padding: 1% 0 4%;
	color: #DDDDDD;
	line-height: 1.7em;
	width: 91%;
	margin: 0 auto;
	font-weight: 300;
}
.confirmation h6 a{
    font-size: 2.1em;
	color: #fff;
	background: #FF4B5A;
	border-radius: 3px;
}
.confirmation h6 a:hover{
    color: #fff;
	background: #29AF61;
}
/*--------- */